<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <input [(ngModel)]="token" [attr.disabled]="listaPessoasPipedrive" type="text" class="form-control" placeholder="Token do Pipedrive">
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-2">
            <button type="button" style="margin-bottom: 1rem;" class="btn btn-secondary float-right" (click)="buscaPessoasPipedrive()">Novo</button>
        </div>
    </div>
    <div class="row" *ngIf="listaPessoasPipedrive">
        <div class="col-2">
            <ul class="list-group">
                <li class="list-group-item">Palio</li>
                <li class="list-group-item">Sandero</li>
                <li class="list-group-item">Clio</li>
                <li class="list-group-item">Gol</li>
                <li class="list-group-item">Uno</li>
            </ul>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <legend align="center">Novo Carro</legend>
                </div>
                <div class="card-block">
                    <form>
                        <div class="form-group row">
                            <label for="exampleSelectResponsavel1" class="col-2 col-form-label">Responsável:</label>
                            <div class="col-10">
                                <select class="form-control" id="exampleSelectResponsavel1">
                                    <option *ngFor="let pessoaPipedrive of listaPessoasPipedrive">
                                        {{pessoaPipedrive.id}} - {{pessoaPipedrive.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="exampleInputModelo1" class="col-2 col-form-label">Modelo:</label>
                            <div class="col-10">
                                <input type="text" class="form-control" id="exampleInputModelo1" placeholder="Ex: Celta">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="exampleInputAno1" class="col-2 col-form-label">Ano:</label>
                            <div class="col-10">
                                <input type="text" class="form-control" id="exampleInputAno1" placeholder="Ex: 2009">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="exampleSelectCor1" class="col-2 col-form-label">Cor:</label>
                            <div class="col-10">
                                <select class="form-control" id="exampleSelectCor1">
                                    <option>Branco</option>
                                    <option>Preto</option>
                                    <option>Verde</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-primary float-right">Salvar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>